<template name="form_range">
   <div class="form-group {{size}}">
      <div class="m-b-sm">
          <small><strong>Price Range:</strong> Select the price range of the house.</small>
      </div>
       <div id="{{id}}"></div>
   </div>
</template>
