<!--
  Custom Comments if need it.
-->
<template name="form_select2">
  {{#if isTranslate}}
    {{#if remote}}
      <div class="{{size}} {{div_class}} ">
          {{#if label}}
            <label data-toggle="popover" data-content="{{tooltip}}" class="{{label_class}}">{{dictionary label}}</label>
          {{/if}}

          {{#if inline}}
             <div class="{{inline}}">
              <select id="{{id}}" disabled="{{#if isDisabled}}disabled{{/if}}" name="{{name}}" data-placeholder="{{placeholder}}" select2-upstreamname="{{upstream_name}}" class="select2-plugin-remote {{class}}">
              </select>
             </div>
          {{else}}
             <select id="{{id}}" name="{{name}}" disabled="{{#if isDisabled}}disabled{{/if}}" data-placeholder="{{placeholder}}" select2-upstreamname="{{upstream_name}}" class="select2-plugin-remote form-control {{class}}">
             </select>
          {{/if}}
      </div>
      {{else}}
      <div class="form-group {{size}} {{div_class}} ">
          {{#if label}}
            <label data-toggle="popover" data-content="{{tooltip}}" class="{{label_class}}">{{dictionary label}}</label>
          {{/if}}

          {{#if inline}}
            <div class="{{inline}}">
              <select id="{{id}}" name="{{name}}" disabled="{{#if isDisabled}}disabled{{/if}}" data-placeholder="{{placeholder}}" select2-upstreamname="{{upstream_name}}" class="select2-plugin {{class}}">
                {{#if emptyvalue}}
                  {{#if value}}
                     <option value="">{{dictionary emptyvalue}}</option>
                  {{else}}
                     <option value="" selected="selected">{{dictionary emptyvalue}}</option>
                  {{/if}}
                {{/if}}
                {{#each getOptions}}
                <option value="{{value}}" test="{{isSelected ../value}}" selected="{{isSelected ../value}}">{{dictionary text}}</option>
                {{/each}}
              </select>
            </div>
          {{else}}
            <select id="{{id}}" name="{{name}}" disabled="{{#if isDisabled}}disabled{{/if}}" data-placeholder="{{placeholder}}" select2-upstreamname="{{upstream_name}}" class="select2-plugin {{class}}">
              {{#if emptyvalue}}
                {{#if value}}
                   <option value="" >{{dictionary emptyvalue}}</option>
                {{else}}
                  <option value="" selected>{{dictionary emptyvalue}}</option>
                {{/if}}
              {{/if}}
              {{#each getOptions}}
              <option value="{{value}}" test="{{isSelected ../value}}" selected="{{isSelected ../value}}">{{dictionary text}}</option>
              {{/each}}
            </select>
          {{/if}}
      </div>
      {{/if}}
  {{else}}
    {{#if remote}}
      <div class="{{size}} {{div_class}} ">
          {{#if label}}
            <label data-toggle="popover" data-content="{{tooltip}}" class="{{label_class}}">{{label}}</label>
          {{/if}}

          {{#if inline}}
             <div class="{{inline}}">
              <select id="{{id}}" name="{{name}}" disabled="{{#if isDisabled}}disabled{{/if}}" data-placeholder="{{placeholder}}" select2-upstreamname="{{upstream_name}}" class="select2-plugin-remote {{class}}">
              </select>
             </div>
          {{else}}
             <select id="{{id}}" name="{{name}}" disabled="{{#if isDisabled}}disabled{{/if}}" data-placeholder="{{placeholder}}" select2-upstreamname="{{upstream_name}}" class="select2-plugin-remote form-control {{class}}">
             </select>
          {{/if}}
      </div>
      {{else}}
      <div class="form-group {{size}} {{div_class}} ">
          {{#if label}}
            <label data-toggle="popover" data-content="{{tooltip}}" class="{{label_class}}">{{label}}</label>
          {{/if}}

          {{#if inline}}
            <div class="{{inline}}">
              <select id="{{id}}" name="{{name}}" disabled="{{#if isDisabled}}disabled{{/if}}" data-placeholder="{{placeholder}}" select2-upstreamname="{{upstream_name}}" class="select2-plugin {{class}}">
                {{#if emptyvalue}}
                  {{#if value}}
                     <option value="">{{emptyvalue}}</option>
                  {{else}}
                     <option value="" selected="selected">{{emptyvalue}}</option>
                  {{/if}}
                {{/if}}
                {{#each getOptions}}
                <option value="{{value}}" test="{{isSelected ../value}}" selected="{{isSelected ../value}}">{{text}}</option>
                {{/each}}
              </select>
            </div>
          {{else}}
            <select id="{{id}}" name="{{name}}" disabled="{{#if isDisabled}}disabled{{/if}}" data-placeholder="{{placeholder}}" select2-upstreamname="{{upstream_name}}" class="select2-plugin {{class}}">
              {{#if emptyvalue}}
                {{#if value}}
                   <option value="" >{{emptyvalue}}</option>
                {{else}}
                  <option value="" selected>{{emptyvalue}}</option>
                {{/if}}
              {{/if}}
              {{#each getOptions}}
              <option value="{{value}}" test="{{isSelected ../value}}" selected="{{isSelected ../value}}">{{text}}</option>
              {{/each}}
            </select>
          {{/if}}
      </div>
      {{/if}}
  {{/if}}
</template>
