<template name="form_email">
  <div class="form-group {{size}} {{div_class}}">
    {{#if label}}
      <label class="{{label_class}}">{dictionary {label}}</label>
    {{/if}}
    <input type="email" value="{{value}}" name="{{name}}" id="{{id}}" class="form-control {{class}}" placeholder="{{dictionary placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" />
  </div>
</template>
