<template name="form_text_group_icon">
  <div class="{{size}}">
    <div class="input-group m-b {{class}}">
      <span class="input-group-addon">
        {{#if icon}}
          <i class="fa {{icon}}"></i>
        {{/if}}

        {{#if content}}
          {{content}}
        {{/if}}
      </span>
      <input type="text" value="{{value}}" name="{{name}}" id="{{id}}" class="form-control {{class}}" placeholder="{{placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" />
    </div>
  </div>
</template>
