<template name="form_checkbox2">
  <input type="checkbox" value="{{value}}" id="{{id}}" name="{{name}}" class="i-checks" disabled="{{disabled}}" {{isChecked checked}}/>
  <span class="m-l-xs">{{dictionary label}}</span>
  <!--<small class="label label-info"><i class="fa fa-clock-o"></i> 3 mins</small>-->
</template>
