<template name="form_tel">
  <div class="form-group {{size}} {{div_class}}">
    {{#if label}}
      <label class="{{label_class}}">{{label}}</label>
    {{/if}}
    <input type="tel" value="{{value}}" name="{{name}}" id="{{id}}" class="form-control {{class}}" placeholder="{{placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" />
  </div>
</template>
