<template name="form_summernote">
    <div class="form-group {{size}} {{formGroupClass}}">
      {{#if label}}
        <label data-toggle="popover" data-content="{{tooltip}}">{{dictionary label}}</label>
      {{/if}}
      <div id="{{this.id}}" name="{{this.name}}"></div>
    </div>
</template>
