<template name="form_date">
  <div class="form-group {{size}} {{div_class}}">
    {{#if label}}
      <label class="{{label_class}}">{{label}}</label>
    {{/if}}
    <input type="date" name="{{name}}" value="{{value}}" id="{{id}}" class="form-control {{class}}" placeholder="{{placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" />
  </div>
</template>
