<template name="form_money">
  <div class="{{size}}">
    <div class="input-group m-b {{class}}">
      <span class="input-group-addon"><i class="fa fa-money"></i></span>
      <input type="text" value="{{value}}" name="{{name}}" id="{{id}}" class="form-control {{class}}" placeholder="{{placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" />
    </div>
  </div>
</template>
