<template name="form_number">
  <div class="form-group {{size}} {{div_class}}">
    {{#if label}}
      <label class="{{label_class}}">{{label}}</label>
    {{/if}}
    <input type="number" min="{{min}}" max="{{max}}" step="{{step}}" value="{{value}}" name="{{name}}" id="{{id}}" class="form-control {{class}}" placeholder="{{placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" />
  </div>
</template>
