<template name="form_tagsinput">
  <div class="form-group {{size}} {{formGroupClass}}">
    <label data-toggle="popover" data-content="{{tooltip}}">{{dictionary label}}</label>
    <select name="{{name}}" id="{{id}}" class="form-control tagsinput {{class}}" data-role="tagsinput" placeholder="{{dictionary placeholder}}" required="{{required}}" multiple>
    </select>
  </div>
</template>
