<template name="form_jsswith">
    <div class="row">
        <div class="col-md-2">
            <input type="checkbox" name="{{name}}" class="js-switch" checked />
        </div>
        <div class="col-md-10">
            <label class="js-switch-label" data-toggle="popover" data-content="" data-original-title="" title="">{{label}}</label>
        </div>
    </div>
</template>
