<template name="form_select">
  <div class="form-group {{size}} {{formGroupClass}}">
    {{#if label}}
      <label class="{{label_class}}" data-toggle="popover" data-content="{{tooltip}}">{{dictionary label}}</label>
    {{/if}}

    {{#if inline}}
      <div class="{{inline}}">
        <select name="{{name}}" id="{{id}}" class="form-control {{class}}" disabled="{{disabled}}"  placeholder="{{dictionary placeholder}}" required="{{required}}">
          {{#if emptyvalue}}
            {{#if value}}
               <option value="">{{emptyvalue}}</option>
            {{else}}
              <option value="" selected>{{emptyvalue}}</option>
            {{/if}}
          {{/if}}
          {{#each options}}
             {{#if equals value ../value}}
                <option value="{{value}}" selected>{{text}}</option>
             {{else}}
               <option value="{{value}}">{{text}}</option>
             {{/if}}
          {{/each}}
        </select>
      </div>
    {{else}}
      <select name="{{name}}" id="{{id}}" class="form-control {{class}}" disabled="{{disabled}}" placeholder="{{dictionary placeholder}}" required="{{required}}">
        {{#if emptyvalue}}
          {{#if value}}
             <option value="" >{{emptyvalue}}</option>
          {{else}}
            <option value="" selected>{{emptyvalue}}</option>
          {{/if}}
        {{/if}}
        {{#each options}}
           {{#if equals value ../value}}
              <option value="{{value}}" selected>{{text}}</option>
           {{else}}
             <option value="{{value}}">{{text}}</option>
           {{/if}}
        {{/each}}
      </select>
    {{/if}}
  </div>
</template>
