<template name="form_checkbox">
  <div class="form-group {{div_class}} {{size}}">
    {{#if inline}}
       <div class="{{inline}}">
         <div class="{{checkClass}}">
           <label>
             <input type="checkbox" value="{{value}}" id="{{id}}" name="{{name}}" class="{{class}}" disabled="{{disabled}}" {{isChecked checked}}> <i></i> {{dictionary label}}
           </label>
         </div>
       </div>
    {{else}}
       <div class="i-checks {{checkClass}}">
         <label>
           <input type="checkbox" value="{{value}}" id="{{id}}" name="{{name}}" class="{{class}}" disabled="{{disabled}}" {{isChecked checked}}> <i></i> {{dictionary label}}
         </label>
       </div>
    {{/if}}
  </div>
</template>
