<template name="form_radio">
  <div class="i-checks-radio" >
    <label>
      <input type="radio" value="{{value}}" id="{{id}}" name="{{name}}" class="{{class}}" disabled="{{disabled}}" {{isChecked checked}}> <i></i> {{dictionary label}}
    </label>
  </div>
</template>
