<template name="form_text">
  <div class="form-group {{size}} {{div_class}}">
    {{#if label}}
      <label class="{{label_class}}" data-toggle="popover" data-content="{{tooltip}}">{{dictionary label}}</label>
    {{/if}}
    {{#if inline}}
      <div class="{{inline}}">
        <input type="text" value="{{value}}" name="{{name}}" id="{{id}}" class="form-control {{class}}" placeholder="{{dictionary placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" data-mask="{{mask}}" />
      </div>
    {{else}}
      <input type="text" value="{{value}}" name="{{name}}" id="{{id}}" class="form-control {{class}}" placeholder="{{dictionary placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" data-mask="{{mask}}" />
    {{/if}}

  </div>
</template>
