<template name="form_textarea">
  <div class="form-group {{size}}">
    <label>{{dictionary label}}</label>
    <textarea name="{{name}}" id="{{id}}" placeholder="{{dictionary placeholder}}" class="{{class}}" required="{{required}}" rows="{{rows}}" cols="{{cols}}">{{value}}</textarea>
  </div>
</template>
