<template name="form_password">
  <div class="form-group {{size}} {{div_class}}">
    {{#if label}}
      <label class="{{label_class}}">{{dictionary label}}</label>
    {{/if}}
    {{#if inline}}
      <div class="{{inline}}">
        <input type="password" value="{{value}}" name="{{name}}" id="{{id}}" class="form-control {{class}}" placeholder="{{dictionary placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" data-mask="{{mask}}" />
      </div>
    {{else}}
      <input type="password" value="{{value}}" name="{{name}}" id="{{id}}" class="form-control {{class}}" placeholder="{{dictionary placeholder}}" required="{{required}}" disabled="{{disabled}}" pattern="{{pattern}}" data-mask="{{mask}}" />
    {{/if}}
  </div>
</template>
