<template name="form_listview_detail">
        <div class="vote-item vendor">
          <div class="row">
              <div class="col-md-1">
                <div class="vote-actions">
                    <a href="#">
                        <i class="fa fa-chevron-up"> </i>
                    </a>
                    <div>{{leftnumber}}</div>
                    <a href="#">
                        <i class="fa fa-chevron-down"> </i>
                    </a>
                </div>
              </div>
              <div class="col-md-9">
                  <a href="#" class="vote-title">
                      {{description}}
                  </a>
                  <div class="vote-info">
                      <i class="fa {{detail1_icon}}"></i> <a href="#">{{detail1}}</a>
                      <i class="fa {{detail2_icon}}"></i> <a href="#">{{detail2}}</a>
                      <i class="fa {{detail3_icon}}"></i> <a href="#">{{detail3}}</a>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="vote-icon">
                      <i class="{{icon}}"> </i>
                  </div>
              </div>
          </div>
      </div>
</template>
