<template name="form_search_session">
  <div class="form_search_session {{class}}">
    <div class="input-group m-b">
      <input type="text" name="search" placeholder="{{placeholder}}" value="{{SessionGet session}}" class="input form-control">
      <div class="input-group-btn">
        <button type="button" class="btn btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</template>
